.Rproj.user
.Rhistory
.RData
.Ruserdata

*.Rproj

debugging.R


# sensitive data, mostly student submission data:
subm/
subm*/
*.xlsx
*.xls
exams/
paths/
Rplot*.*


# targets (may include sensitive data):
_targets/





