.Rproj.user
.Rhistory
.RData
.Ruserdata

*.Rproj

debugging.R


# sensitive data, mostly student submission data, including raw names:
subm/
subm*/
*.xlsx
*.xls
exams/
paths/
Rplot*.*
_debug*/




# targets (may include sensitive data, and can be large):
_targets/





